#deals {
    text-align: center;
}

.toright {
    float: right;

}

img {
    max-width: 100%;
    height: auto;
}

.matchHotel {
    display: flex;
    background: lightcyan;
    padding: 10px;
    margin-bottom: 10px;
}

.matchHotel ul{
    list-style: none;
}

